#edit-prev,
#edit-next,
#edit-today {
  cursor: pointer;
  user-select: none;
}

#edit-add-date-style{
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.edit-date-time{
  width: 80px;
}

.edit-date-input{
  width: 150px;
  font-size: 12px;
}

#edit-schedule-form, #edit-pass, #edit-shop-form{
  display: none;
}

#edit-shop-add-btn{
  color: red;
  font-weight: bold;
  cursor: pointer;
}