
.header__bar{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgb(129, 235, 245);
}
.title{
  margin-right: auto;
  margin-left: 20px;
}
#title-main{
  font-size: 40px;
  font-weight: bold;
  color: rgb(247, 70, 232);
  cursor: pointer;
}
.header-link{
  text-decoration: none;
  color: rgb(247, 70, 208);
  cursor: pointer;
  font-size: 15px;
}

.skew {
  display     : inline-block;       /* 奥行表示のためのブロック化 */
  font-size   : 48pt;               /* 文字サイズ */
  transform   : skewY(-6deg);       /* 傾き角度 */
}

.grid-6{
  margin-right: 10px;
  color: rgb(247, 70, 208);
  margin-right: 20px;
  font-size: 15px;
  display: flex;
  
}
