
.header__bar{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgb(14, 10, 248);
}
.title{
  margin-right: auto;
  margin-left: 20px;
}
#title-main{
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}
.header-link{
  text-decoration: none;
  color: whitesmoke;
}

.skew {
  display     : inline-block;       /* 奥行表示のためのブロック化 */
  font-size   : 48pt;               /* 文字サイズ */
  transform   : skewY(-6deg);       /* 傾き角度 */
}

.grid-6{
  margin-right: 10px;
  color: white;
  margin-right: 20px;

}
