
.main-show-box{
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.show-event-box{
  margin-top: 20px;
}

.middle-show-box{
  margin: 0 15px;
}

.show-event-name{
  font-size: 18px;
}
h1.btn--orange {
  background: #ffffff;
  color: #eb6100;
  
}

h1.btn--orange:hover {
  color: #fff;
  background-color: #eb6100;
}

h1.choice {
  color: #fff;
  background-color: #eb6100;
}

h1.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

h1.btn--circle {
  border-radius: 50%;
  border: 2px solid #e0d7dc;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
}

h1{
  font-size: 25px;
  text-align: center;
}

#open, #edit-open {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}
#close, #edit-close{
  cursor: pointer;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  text-decoration: none;
}

#mask, #edit-mask {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal, #edit-modal{
  background: #fff;
  width: 700px;
  padding: 20px;
  position:fixed;/* 階層を上にする */
  height:80%;/* モーダルの高さ */
  top:50%;/* bodyの上から50%分ずらす */
  left:50%;/* bodyの左から50%分ずらす */
  transform:translate(-50%,-50%);/* 指定した位置から真ん中にずらす */
  overflow-y:scroll;
  
}

#modal > p, #edit-modal > p{
  margin: 0 0 20px;
}

#mask.hidden, #edit-mask.hidden{
  display: none;
}

#modal.hidden, #edit-modal.hidden{
  transform: translate(0, -500px);
}

.date-index-status, .shop-index-status{
  display: none;
}

.index-status-form{
  font-size: 25px;
  font-weight: 900;
  color: #eb6100;
}

.cross{
  font-size: 45px;
}

.event-data-head{
  width: 200px;
}

.mark{
  width: 35px;
}
.head-title{
  text-align: left;
}
.event-show-data{
  background-color: lightskyblue;
}
.event-join-user-name{
  width: 90px;
  font-size: 14px;
}
.shop-lists{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  font-size: 14px;
}

.change-status{
  display: flex;
  justify-content: space-between;
}

.schedule-vote-box{
  width: 200px;
  background-color: rgb(250, 219, 250);
  font-size: 24px;
}

#join-schedules, #join-edit-schedules{
  width: 250px;
  text-align: left;
  background-color: rgb(250, 219, 250);
  border: rgb(231, 234, 236);
  font-size: 18px;
}

.cross-vote{
  font-size: 40px;
}

#join-form #join-edit-form{
  margin: 10px 15%;
}

.hidden{
  display: none;
}

#join-box, #join-edit-box{
  margin-top: 20px;
}

#join-name-label, #join-edit-name-label{
  font-size: 18px;
}

#join-user, #join-edit-user{
  height: 29px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 25px;
}

#date-answer-title, #date-edit-answer-title{
  text-align: left;
  font-size: 18px;
}

#date-answer-table, #date-edit-answer-table{
  border: 2px solid #eef0f1;
  
}

.bottom-line{
  border-bottom: 2px solid white;
}

#shop-answer, #shop-edit-answer{
  margin-top: 20px;
}

#shop-answer-title, #shop-edit-answer-title{
  text-align: left;
  font-size: 18px;
}

.shop-label{
  width: 200px;
  text-align: left;
  background-color: rgb(250, 219, 250);
  border: rgb(231, 234, 236);
  font-size: 16px;
}
.shop-vote-balance{
  display: flex;
  justify-content: space-between;
  width: 250px;
  background-color: rgb(250, 219, 250);
}

#shop-yes, #shop-delta, #shop-edit-yes, #shop-edit-delta{
  margin-right: 10px;
  font-size: 24px;
}
.show-url{
  font-size: 12px;
}

#join-submit-box, #join-edit-submit-box{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
#join-submit-inputbox, #join-edit-submit-inputbox{
  cursor: pointer;
  font-size: 18px;
  width: 250px;
  height: 40px;
  
}

.non-bottom-line{
  text-decoration: none;
  color: blue;
}
.center{
  margin: 0 15%;
}

.btn-flat-border-red-user{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ff676f;
  border: solid 2px #ff676f;
  border-radius: 3px;
  transition: .4s;
  width: 100px;
  text-align: center;
  height: 20px;
  padding-top: 7px;
  margin-top: 18px;
}

.btn-flat-border-red-user:hover {
  background: #ff676f;
  color: white;
}

.join-edit-top{
  display: flex;
  justify-content: space-between;
}

