// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar-title{
  text-align: center;
}
.calendar-body{
    width:100%;
    table-layout:fixed;
    margin-bottom: 20px;
    color: #565656;
    font-size: 1.1rem;
    text-align: center;
    &__item{
      display: flex;
      flex-wrap: wrap;
      div{
        box-sizing: border-box;
        width: 14.28%;
        height: 48px;
        min-height: 48px;
        padding: 12px 0;
        text-align: center;
        cursor:pointer;
        font-size: 12px;
        &:nth-of-type(7n-1){
          color: #5a66a8;
        }
        &:nth-of-type(7n){
          color:#e29a9b;
        }
        span{
          vertical-align: -4px;
        }
        .selectedDay{
          display:inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #f00;
          color: #fff; 
          line-height: 24px;     
        }
        &.holidays{
           color: #e29a9b;
        }
      }
    }
 
  }